html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  margin: 0;
  font-size: 75%;
  height: 100%;
}

#container {
  padding: 10px;
  min-height: 100%;
  box-sizing: border-box;
  margin-bottom: -100px;
}

#container:after {
  content: "";
  display: block;
}

#container:after {
  height: 100px;
}

#headline {
  color: #EE4F7E;
  font-size: 2.5em;
  margin: 1em 0 1.5em 0;
}

#explanation {
  font-size: 1.5em;
  margin-bottom: 2em;
}

#what-next {
  font-size: 1.3em;
}

a {
  color: #0EA2DC;
}

a:visited {
  color: #0EA2DC;
}

a.pebblecode {
  color: #EE4F7E;
}

footer {
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
}

footer p {
  margin: 0.5em 0;
}

@media (min-width: 600px) {

  #headline {
    font-size: 4em;
  }

  #explanation {
    font-size: 2em;
  }

  #what-next {
    font-size: 1.8em;
  }

}

@media (min-height: 800px) {

  #headline {
    margin: 2em 0;
  }

}
